* {
  font-family: "Patua One", cursive;
  color: #393f65;
  background-color: rgb(214, 230, 245);
}
.App {
  text-align: center;
  /* background: url("./images/blurredLines.png");
  background-size: contain;   */
}

@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.spooky li,
.spooky a {
  list-style: none;
  text-decoration: none;
  color: #393f65;
  margin-bottom: 10px;
}
.logo {
  height: 12vh;
  width: auto;
}
.grid-item {
  height: 20%;
  width: 20%;
  margin: 5%;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pumpkin {
  list-style: none;
}
.grid-container {
  display: inline-grid;
}

.pumpkin:hover {
  color: cornflowerblue;
}
.treat {
  height: 8vh;
  width: auto;
}
.orange {
  display: flex;
  border: black solid 2px;
  align-items: center;
  padding: 8px;
  /* border-radius: 2%; */
  width: 80%;
  margin-left: 8%;
}
.orange a {
  color: #393f65;
  text-decoration: none;
}
.black {
  /* margin-right: 3%; */
}
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: black 2px solid; */
}
.ourlogo {
  height: 20vh;
  width: auto;
  position: relative;
  top: 2vh;
  /* left: 2vh; */
  /* margin-top: 5vh; */
  margin-bottom: 5vh;
}
.homeHeader {
  margin-bottom: 5vh;
}
.homelogo {
  height: 20vh;
  width: auto;
  position: relative;
  margin-top: 5vh;
  margin-bottom: 3vh;
}
.homeLine1 {
  margin-bottom: -10px;
}
.lilFooter {
  font-size: 10px;
  margin-left: 10%;
  margin-top: 10vh;
}
.logoAllPage {
  margin-top: 5vh;
}
.ghost {
  margin-top: -5vh;
}
.divOfCreators {
  display: flex;
  justify-content: space-around;
}
#bio {
  font-size: 11px;
  width: 40vw;
}
.grid-item a {
  text-decoration: none;
}
#jadaPic {
  height: 30vh;
  width: auto;
  border-radius: 5%;
}
#rebeccaPic {
  height: 30vh;
  width: auto;
  border-radius: 5%;
}

.calmContent {
  display: flex;
  justify-content: space-around;
}
#calmBox {
  width: 40%;
  height: auto;
  border-radius: 5%;
}
#calmBox,
#calm {
  background: RGB(94, 163, 255);
}
#adviceButton {
  background: RGB(188, 224, 235);
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 2em;
}
