
* {
  font-family: 'Patua One', cursive;
  color: #393F65;
  background-color: rgb(214, 230, 245);
}
.App {
  text-align: center;
  /* background: url("./images/blurredLines.png");
  background-size: contain;   */
  
}

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.spooky li, .spooky a{
  list-style: none;
  text-decoration: none;
  color: #393F65;
  margin-bottom: 10px;
}

.pumpkin{
  list-style: none;
}

.pumpkin:hover{
  color: cornflowerblue;
}
.treat{
  height: 8vh;
  width: auto;
}
.orange{
  display: flex;
  border:black solid 2px;
  align-items: center;
  padding: 8px;
  /* border-radius: 2%; */
  width: 80%;
  margin-left: 8%;
}
.orange a{
  color: #393F65;
  text-decoration: none;
}
.black{
  margin-right: 5%;
}
.homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: black 2px solid; */
}
.ourlogo{
  height: 20vh;
  width: auto;
  position: relative;
  top: 2vh;
  /* left: 2vh; */
  /* margin-top: 5vh; */
  margin-bottom: 5vh;
}
.homelogo{
  height: 20vh;
  width: auto;
  position: relative;
  top: 2vh;
  /* left: 2vh; */
  /* margin-top: 5vh; */
  margin-bottom: 5vh;
}
.homeLine1{
  margin-bottom: -10px;
}
.lilFooter{
  font-size: 10px;
  margin-left: 10%;
  margin-top: 10vh;
}
.logoAllPage{
  margin-top: 5vh;
}
.ghost{
  margin-top: -5vh;
}
.divOfCreators{
  display: flex;
  justify-content: space-around;
}